body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.endereco{
    color: wheat;
    background-color: black;
    text-align: center;
    background-position: center;
    border: 5px;
    padding: 50px;
    margin: 20px;
}
.dadosPESSOAIS{
    color: wheat;
    background-color: black;
    text-align: center;
    background-position: center;
    border: 5px;
    padding: 50px;
    margin: 20px;  
}
a{
    font-size: 20px;
    border-radius: 5px;
    padding: 20px;
}
input{
    width: 300px;
}
button{
    border-radius: 10px;
    color: beige;
    background-color: brown;
    width: 200px;
    height: 20px;
}